alabaster==0.7.12
alembic==1.7.5
appdirs==1.4.4
apriltag==0.0.16
attrs==21.4.0
autopage==0.4.0
Babel==2.9.1
backcall==0.2.0
bagpy==0.4.7
bitstring==3.1.9
catkin-pkg==0.4.24
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
cliff==3.10.0
cmaes==0.8.2
cmd2==2.3.3
colorlog==6.6.0
commonmark==0.9.1
cycler==0.11.0
decorator==5.1.0
distro==1.6.0
docutils==0.17.1
ghp-import==2.0.2
gnupg==2.3.1
greenlet==1.1.2
idna==3.3
imageio==2.13.5
imagesize==1.3.0
importlib-metadata==4.8.2
importlib-resources==5.4.0
ipython==7.30.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
m2r2==0.3.2
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.2.1
matplotlib-inline==0.1.3
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.2.3
networkx==2.6.3
numpy==1.21.4
opencv-python==4.5.4.60
optuna==2.10.0
packaging==21.3
pandas==1.3.5
parso==0.8.3
pathlib==1.0.1
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prettytable==3.0.0
prompt-toolkit==3.0.24
psutil==5.8.0
ptyprocess==0.7.0
py3rosmsgs==1.18.1
pycryptodomex==3.12.0
pydash==5.1.0
Pygments==2.10.0
pymdown-extensions==9.1
pyparsing==3.0.6
pyperclip==1.8.2
pyserial==3.5
python-dateutil==2.8.2
python-utils==3.0.0
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
pyyaml-env-tag==0.1
recommonmark==0.7.1
requests==2.26.0
rinoh-typeface-dejavuserif==0.1.3
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.5.3
rospkg==1.3.0
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==3.2.1
sphinx-autodoc-typehints==1.4.0
sphinx-bootstrap-theme==0.8.0
sphinx-markdown-parser==0.2.4
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.29
stevedore==3.5.0
threadpoolctl==3.0.0
tifffile==2021.11.2
torch==1.10.2+cu113
torchaudio==0.10.2+cu113
torchvision==0.11.3+cu113
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==4.0.1
unify==0.5
untokenize==0.1.1
urllib3==1.26.7
watchdog==2.1.6
wcwidth==0.2.5
yapf==0.31.0
ytsphinx==1.2.1.dev20200430
zipp==3.6.0
